@mixin flexy($disp: flex, $dir: null, $wrap: null, $just: null, $align: null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  align-items: $align;
}

@mixin mq($break) {
  $value: map-get(
    $map: $breakpoints,
    $key: $break,
  );

  $sm: map-get($breakpoints, "sm");

  @if ($value == null) {
    @error "`#{break}` is not a valid breakpoint";
  } @else if $value < $sm {
    @media (max-width: $value) {
      @content;
    }
  } @else {
    @media (min-width: $value) {
      @content;
    }
  }
}

%exemplu {
  border: 2px solid blue;
}

@mixin buttonBehaviour {
  &:hover {
    background-color: $secondary-background;
    border-color: $secondary-background;
    cursor: pointer;
  }
  &:active {
    background-color: $primary-background;
    border-color: $primary-background;
  }
}

%w-100{
  max-width:100%;
  padding: 10px;
  @media (min-width: 768px){
    max-width: 90%;
  }
}