$breakpoints: (
  "sm": 100px,
  "md": 768px,
  "lg": 1024px,
);

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap');

$font-stack-primary: "Montserrat", sans-serif;
$font-sidebar: Grandstander, sans-serif;
$font-logo: "Sansita Swashed", sans-serif;

$element-width: 90%;  
$max-element-width: 300px;

//Colors

$main-red: #FE5768;
$main-dark: black;

$gray-line: rgb(220, 220, 220);

